[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WeightIt"]
	path = WeightIt
	url = https://github.com/ngreifer/weightit
[submodule "adrftools"]
	path = adrftools
	url = https://github.com/ngreifer/adrftools
[submodule "cobalt"]
	path = cobalt
	url = https://github.com/ngreifer/cobalt
[submodule "fwb"]
	path = fwb
	url = https://github.com/ngreifer/fwb
[submodule "lmw"]
	path = lmw
	url = https://github.com/ngreifer/lmw
[submodule "optweight"]
	path = optweight
	url = https://github.com/ngreifer/optweight
